/TacitKnowledge/nbproject/private/
/TacitKnowledge/TacitKnowledge-war/nbproject/private/
/TacitKnowledge/TacitKnowledge-ejb/nbproject/private/
/TacitKnowledge/TacitKnowledge-ejb/build/
/TacitKnowledge/TacitKnowledge-war/build/
/TacitKnowledge/build/
/TacitKnowledge/TacitKnowledge-ejb/dist/
/TacitKnowledge/TacitKnowledge-war/dist/
/TacitKnowledge/dist/